<div class="container">
  <div class="player">
    <div class="info">
      <h2>Player One</h2>
      <p>Trollmates: 4</p>
    </div>
  </div>
  <div class="cards">
    <div *ngFor="let card of shuffledCards">
      <div *ngIf="card['status'] === 'clicked'; else notClicked">
        <img src="../../assets/img/{{ card['card'] }}.jpg" alt="" />
      </div>
      <ng-template #notClicked>
        <img
          (click)="selectedCard(card)"
          src="../../assets/img/cardBack.jpg"
          alt=""
        />
      </ng-template>
    </div>
  </div>

  <div class="player">
    <div class="info">
      <h2>Player Two</h2>
      <p>Trollmates: 1</p>
    </div>
  </div>
</div>
<div class="backLink">
  <button routerLink="/">Home</button>
</div>
