* {
  margin: 0;
  padding: 0;
  font-family: "Coiny", cursive;
}

:root {
  --pink: rgb(255, 132, 153);
  --darkPink: #d23284;
  --blue: #3d77c8;
  --darkBlue: #3c3dda;
  --purple: #c990d8;
  --green: #72c258;
  --yellow: #e9d518;
  --orange: #f07f1a;
}
